---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAx4lk-3qP0pWqzMmE-91Mhx5jOD9c0Coc&query=Weymouth%2C+MA+library
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "business_status" : "CLOSED_TEMPORARILY",
                 "formatted_address" : "1 Columbian St, South Weymouth, MA 02190, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 42.174747,
                       "lng" : -70.950873
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.17598557989272,
                          "lng" : -70.94970257010728
                       },
                       "southwest" : {
                          "lat" : 42.17328592010728,
                          "lng" : -70.95240222989273
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png",
                 "id" : "ffc956f33c2507515ad19dff07a08a8148069a2e",
                 "name" : "The Fogg Library",
                 "permanently_closed" : true,
                 "photos" : [
                    {
                       "height" : 322,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100159118049579085785\"\u003eThomas Vinciguerra\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAADTz9xxCXwCz0oaTeXw-oGXSjMSqPaFKJVOfA9BjsWMNtcYWKu_GS3FEK2PvdOhzUzyZM_bY8X_fC1M1gyM5TJaqah1aCHSTDubvpTPlmP0iO-brliuGvBWYvTMM1D0XKEhAl5UYKhlzxYa7WqLBFsCcyGhR9rB__dXcD3-mnOrQHqtjdZx2myQ",
                       "width" : 549
                    }
                 ],
                 "place_id" : "ChIJGSAjpoOd5IkRH3dyEpxI3uw",
                 "plus_code" : {
                    "compound_code" : "52FX+VM South Weymouth, Weymouth, MA",
                    "global_code" : "87JF52FX+VM"
                 },
                 "rating" : 3.6,
                 "reference" : "ChIJGSAjpoOd5IkRH3dyEpxI3uw",
                 "types" : [ "library", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 7
              },
              {
                 "business_status" : "CLOSED_TEMPORARILY",
                 "formatted_address" : "1400 Pleasant St, Weymouth, MA 02189, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 42.2141448,
                       "lng" : -70.9252829
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.21548302989272,
        [...]
